{% extends 'base.html' %}
{% block title_name %}
发表文章
{% endblock %}

{% block content %}

<ol class = "breadcrumb">
    <li><a href = "{% url 'block_list' %}">首页</a></li>
    <li><a href = "{% url 'article_list' myblock.id %}">{{ myblock }}</a></li>
    <li class = "active">发表文章</li>
</ol>

<form method = "POST" class = "form-horizontal" action = ""> {% csrf_token %}
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == "error" %}
				<div class = "alert alert-danger">{{ message }}</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	<div class = "form-group">
		<label class = "col-sm-1 control-label">标题</label>
		<div class = "col-sm-11">
			<input name = "title" class = "form-control" placeholder = "输入标题" value = "{{ title }}"/>
		</div>
	</div>
	<div class = "form-group">
		<label class = "col-sm-1 control-label">内容</label>
		<div class = "col-sm-11">
			<textarea name = "content" class = "form-control" rows = "5" placeholder = "输入内容">{{ content }}</textarea>
		</div>
	</div>
	<div class = "form-group">
		<div class = "col-sm-1"></div>
		<div class = "col-sm-11">
			<button type = "submit" class = "btn btn-primary">发表</button>
		</div>
	</div>
</form>

{% endblock %}
